.small-container{
    margin:80px 5%;
    
}
.small-container tr{
    background-color: white;
    border: 1px solid black;
}
.small-container table{
    width:100%;
    border-collapse: collapse;
}
.small-container .cart-info{
    display: flex;
    flex-wrap: wrap;
}
.small-container .cart-info img{
    height:200px;
    width:200px;
}
.small-container th{
    text-align: left;
    padding:5px;
    color:white;
    background: rgb(31, 32, 44);
}
.small-container td input{
    /* height:50px; */
    width:50px;
}
.small-container td i{
    font-size:2rem;
}
.small-container td i:hover{
    color:red;
}

.checkout{
    background-color: white;
    margin-left:20%;
    margin-right:20%;
    padding:20px;
    margin-bottom:4rem;
    display: flex;
    justify-content: center;
}
.checkout table{
    width:50%;
    border-collapse: collapse;
}
.checkout #Pay-btn{
    background-color: rgb(31, 32, 44);
    color:white;
    border:none;
    border-radius: 2px;
    padding:10px;
    margin-top:20px;
    margin-left:15%;
}
.success{
    margin-left:35%;
    margin-right:35%;
    margin-bottom: 20%;
    text-align: center;
}
.success span{
    font-size: 25px;
    color:rgb(6, 173, 6);
}